/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


:root {
    --form-main-color: navy;
    --form-t-color: black;
    --main-color:rgba(105, 224, 222, 0.2);
  }

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */
header {
    grid-template-columns: 150px auto;
    z-index: 2;
    position: relative;
    background-color: rgba(105, 224, 222, 0.2);
}
.logo {
    width: 160px;
    height: 80px;
    border-radius: 0;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow:
        5px 0 10px rgba(111, 115, 100, 0.5),
        -5px 0 10px rgba(111, 115, 100, 0.5),
        0 5px 10px rgba(111, 115, 100, 0.5),
        0 -5px 10px rgba(111, 115, 100, 0.5);
}
#logo_link_top, #logo_link_buttom {
    justify-self: center;
    align-self: center;    
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	position: absolute;
	top: 1.5rem;
	right: 2.5rem;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "X";
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}
.navigation li {
	display: none;
}
.navigation a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.navigation a:hover {
	font-weight: 700;
    color: #DC143C;
}
.navigation li:hover {
    text-align: center;
    text-decoration: none;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
.active::before {
	content: "📍 ";
}
.card ul {
    margin: 0 auto;
    list-style-type: none;
    margin-left: -2.5em;
}
.navigation li {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    flex: 1 1 100%;
}




/* Hero */
#hero-img{
    width: 100%;
    height: 750px;
}
#hero-msg {
    font-size: 1rem;

    margin-top: 100px;
    margin-left: 200px;
    color: white;

}
.home-title {
    font-size: 3em;
    color: #E79115;
    margin: 0;
}



/* button 1 */
.button-box1{
    padding: 20px;
}
.join-button1 {
    background-color: #E79115;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;
}
.join-button1:hover {
    background-color: #fcfbfb;
    color: #E79115;
}



/* Main */
.home-grid {
    color: black;
}
.description-text {
    margin: 50px;
    margin-top: 100px;
}
.card-img1, .card-img2, .card-img3, .card-img4{
    border: 5px solid #E5E5E5;
    margin: 50px;
    box-shadow: 5px 5px 5px #6f7364;
    transition: transform .5s;
    width: 600px;
    height: 500px;
}


/* Event container inlcuding photo and text*/
.current-event-text {
    color: #E79115;
    margin: 50px;
    margin-top: 100px;
}



/* Membershihp container inlcuding photo and text*/
.membership-text {
    color: black;
    margin: 50px;
    margin-top: 100px;
}



/* Join us container inlcuding photo and button*/
.join-button2 {
    margin: 50px;
    margin-top: 100px;
    background-color: #E79115;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;
}
.join-button2:hover {
    background-color: rgba(42, 145, 183, 0.5);
    color: #E79115;
}



/* weather */
.card {
    box-shadow:
    5px 0 10px rgba(111, 115, 100, 0.5),
    -5px 0 10px rgba(111, 115, 100, 0.5),
    0 5px 10px rgba(111, 115, 100, 0.5),
    0 -5px 10px rgba(111, 115, 100, 0.5);
    margin: 50px;
    border-radius: 15px;
    margin-top: 100px;
}
.card h3{
    margin: 0;
    padding: 20px;
    background-color: #87CEEB;
    text-align: center; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
}
.card p{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    list-style-type: none;
}
.card-img1:hover, .card-img2:hover,.card-img3:hover, .card-img4:hover {
    opacity: .6;
    transform: scale(1.1);
}



/* footer */
footer {
    background-color: rgba(42, 145, 183, 0.5);
    padding: 25px 50px;
    margin-top: 50px; 
    display: flex;
	flex-direction: column;
	list-style: none    
}
footer a {
    text-align: center;
    color: black;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
    padding: 10px;
}
footer a:hover {
    text-decoration: underline;
    color: #DC143C;
}
footer .social img {
    padding-top: 15px;
}

#visitsCount {
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 50%;
    font-size: 1.2em;
}


/*----------- Discover Page --------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/


.sk-ww-google-calendar {
    margin: 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}



#sidebar {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    justify-items: center;
}

.tradingview-widget-container {
    margin: 20px;
    padding: 20px;

}

.photos {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    justify-items: center;
    border: 1px solid #ccc;
  }

.photos figure {
    margin-bottom: 50px;
}

.photos img {
    width: 90%;
    height: auto;
    padding: 30px;
    border: 5px solid #E5E5E5;
    margin: 30px;
    box-shadow: 5px 5px 5px #6f7364;
    transition: transform .5s;
}

.photos figcaption {
    text-align: center;
  }

h1 {
    font-size:1.4em;;
}

/*------------------------------------------------------------------------------------------------------------------------------*/



/*----------- Join Page --------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/

/*----------- MAIN --------------*/
.join-main {
    padding: 5% 5%;
    min-height: 20rem;
    max-width: 100%;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--form-main-color);
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: var(--form-main-color);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.req{
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.mem {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 1rem;
}

form label.req input{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 100%;
    background-color: rgba(0,0,0,0.1);
}

#organization_description {
    width: 100%;
    height: 10rem;
    resize: vertical; /* Allow vertical resizing */
}

form input.submitBtn {
    border: none;
    background-color: var(--form-main-color);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 100%;
}

form label.req input:required {
    border-left: red solid 6px;
}

form label.req input:required:valid {
    border-left: green solid 6px;
}


table {
	margin: 10px auto;
	border-collapse: collapse;
}

tr {
    color: black
}

tr ul {
    color: #9c2c13;
    padding: 10px;
}

th, td {
	padding: 7px 15px;
	border: 1px solid black;
}

th {
	font-size: larger;
}

td {
	text-align: left;
}

th:first-child {
    background-color: var(--main-color);
    color: black;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: black;
    font-size: .85rem;
  }

  th[scope="col"]:not(:first-child) {
    background-color: var(--main-color);
  }
/*------------------------------------------------------------------------------------------------------------------------------*/






/*----------- Thankyou Page --------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
.thankyou-main h1, .thankyou-main p{
    padding-top: 2rem;
    text-align: center;
}
/*------------------------------------------------------------------------------------------------------------------------------*/




/*----------- Directory Page --------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
    background-color: var(--main-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#directory-grid section {

	padding: 0.5rem;
}

.grid {
	margin: 20px;
    grid-gap: 20px;
	align-items: center;
    display: flex;
	flex-direction: column;
}

.grid section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
    margin: 10px;
}

.list {
	display: flex;
	flex-direction: column;
    align-items: center;
    border: none;
    margin: 20px;
}

.list section {

    display: flex;
	flex-direction: column;
    margin: 10px;
    width: 60%;
    align-items: center;
    border: none;
}

.list section > *{
	margin: 0.2rem 0;
}

.list section img {
	display: none;
}

.list section:nth-child(even) {
	background-color: var(--main-color);
}

#directory-grid section p {
	font-weight: 600;
	font-size: medium;
}

#directory-grid section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.2pt;
}