* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #87CEEB;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mode {
	position: absolute;
	top: 1rem;
	left: 2rem;
	cursor: pointer;
    font-size: 2rem;
}

.profilepicture {
    width: 120px;
    height: 80px;
    border-radius: 0;
    margin-right: 20px;
    order: -1;
    box-shadow:
        5px 0 10px rgba(111, 115, 100, 0.5),
        -5px 0 10px rgba(111, 115, 100, 0.5),
        0 5px 10px rgba(111, 115, 100, 0.5),
        0 -5px 10px rgba(111, 115, 100, 0.5);
}

nav {
    margin-left: 20px;
    margin-right: 20px;
}


#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
    background-color: #F0FFFF;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: black;
}
.navigation a:hover {
	font-weight: 700;
    color: #DC143C;
}

.navigation li:hover {
    text-align: center;
    text-decoration: none;
    background: #7FFFD4
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "📍 ";
}

.card ul {
    margin: 0 auto;
    list-style-type: none;
    margin-left: -2.5em;
}

.navigation li {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
}

main {
    max-width: 1800px;
    grid-gap: 20px;
    margin: 10px;
    padding: 10px;
}

header h1 {
    font-weight: bold;
}

main h2 {
    border-bottom: 1px solid #000;
}

.card {
    box-shadow:
        5px 0 10px rgba(111, 115, 100, 0.5),
        -5px 0 10px rgba(111, 115, 100, 0.5),
        0 5px 10px rgba(111, 115, 100, 0.5),
        0 -5px 10px rgba(111, 115, 100, 0.5);
    margin: 20px;
    border-radius: 15px;
}

.card h3{
    margin: 0;
    padding: 20px;
    background-color: #87CEEB;
    text-align: center; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
}

.card ul {
    border-top-left-radius: 0; 
    border-top-right-radius: 0; 
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px;
}

.card li{
    margin-left: 50px;
    padding: 5px;
    text-align: left;
    list-style-type: none;
    }

.card a {
    text-decoration: none;
    color: black;
}

.card p{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    list-style-type: none;
}

footer {
    background-color: #87CEEB;
    color: black;
    padding: 20px;
    text-align: center;
}