@media screen and (min-width: 640px) {
    #menu {
		display: none;
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

    main {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 20px;
    }

    .hero {
        grid-column: 1/9;
        grid-row: 1/4;

    }

    .hero img {
        height: auto;
    }

    main h2 {
        grid-column: 1/9;
        grid-row: 4/5;
    }
    
    .card1{
        grid-column: 1/6;
        grid-row: 5/9;
    }
    
    .card2 {
        grid-column: 6/9;
        grid-row: 5/9;
    }

    iframe {
        width: 100%;
    }

    .herolabel {
        top: 20px;
        left: 20px;
        padding: 1.5rem;
    }
    
    .herolabel p {
        font-size: 2rem;
    }
}